@charset "utf-8";
@import url('../font/pretendard/stylesheet.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.section_title .heading {
    color: #fff;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Pretendard';
    line-height: 1.5;
}

body {
    background-color: #05012d;
    color: #fff;
    word-break: keep-all;
}

.section .inner {
    max-width: 1600px;
    width: 100%;
    padding: 0 80px;
    margin: 0 auto;
}

.section_title .view_more {
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-self: center;
    padding: 0 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 2rem;
    font-weight: 600;
}

/* header  */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 9;
    transition: background-color 0.3s;
    background-color: transparent;
}

.header.scrolled {
    background-color: #05012D;
}

.header.white {
    background-color: #fff;
    color: #000;
}

.header.white .mBtn_open>div {
    background-color: #000;
}

.header .inner {
    height: 100%;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;

    display: flex;
    align-items: center;
    position: relative;
}

.header .inner .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0%;
    position: absolute;
}

.header .inner .gnb {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .inner .gnb li {
    height: 100%;
    font-size: 1.6rem;
    font-weight: 700;
}

.header .inner .gnb li .activeMenu {
    display: flex;
    gap: 4px;
    align-items: center;
    position: relative;
    transition: background-color 0.3s linear;
    border-radius: 4px;
}

.header .inner .gnb li a.color {
    background-color: rgb(217, 217, 217);
    border-radius: 4px;
}

.header .inner .gnb li a {
    padding: 10px 0;
}

.header .inner .gnb .depth-02 {
    position: absolute;
    top: 60px;
    background-color: #fff;
    border-radius: 16px;
    min-width: 684px;
    padding: 40px 32px;

    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: flex-start;
    justify-content: center;
    line-height: 20px;
    box-shadow: 0 4px 4px #0003;

    display: none;
}

.header .inner .gnb .depth-02 li a {
    display: flex;
    column-gap: 16px;
    padding: 0;
}

.header .inner .gnb .depth-02 li a .text p {
    color: #191919;
    font-size: 16px;
    font-weight: 600;
}

.header .inner .gnb .depth-02 li a .text span {
    color: #666;
    font-size: 1.4rem;
    font-weight: 500;
}


.header .inner .nav_btn {
    height: 40px;
    padding: 0 28px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #63aef5, #6266f4);
    border-radius: 100px;

    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    z-index: 99;
}

.header .mobile_nav {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 64px;
    left: 0;
    padding-top: 64px;
    display: none;
}


.header .mobile_nav li {
    width: 100%;
    height: 50px;

    padding: 17px 30px;
    border-bottom: 1px solid #eee;
}

.header .mobile_nav li a {
    font-size: 16px;
    font-weight: 700;
}

.header .nav_btn_wrap {
    padding: 20px 40px;
    color: #fff;
}

.header .nav_btn_wrap .nav_btn {
    font-size: 15px;
}

.header .mBtn_open {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    row-gap: 4px;
    padding: 8px 5px;

    display: none;
}

.header .mBtn_open>div {
    width: 24px;
    height: 2px;
    background-color: #fff;
}

/* main_visual */
.main_visual {
    height: 1080px;
    position: relative;
}


.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .text {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    padding: 0 80px;
    margin: 0 auto;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_visual .text h3 {
    font-size: 7rem;
    margin-bottom: 4rem;
}

.main_visual .text p {
    font-size: 2.8rem;
    margin-bottom: 8rem;
}

.main_visual .text a {
    height: 56px;
    padding: 0 32px;
    font-size: 3.2rem;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    border-radius: 100px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


/* section-01 */
.section-01 {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-01 .swiper {
    overflow: visible;
}

.section-01 .swiper-wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.section-01 .section_title {
    margin-bottom: 80px;
}

.section-01 .swiper-slide {
    width: 704px;
    height: 420px;
    padding: 50px 60px;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
}

.section-01 .swiper-slide {
    border: 1px solid #ffffff80;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #ffffff1a, #fff0);
}

.section-01 .swiper-slide .item_title {
    margin-bottom: 60px;
}

.section-01 .swiper-slide .item_title .num {
    color: #08f;
    font-size: 2.4rem;
    margin-bottom: 8px;
}

.section-01 .swiper-slide .item_title .heading5 {
    font-size: 4rem;
}

.section-01 .swiper-slide span {
    display: inline-block;
    font-size: 2rem;
    color: #fffc;
}

.section-01 .swiper-slide:last-child {
    opacity: 0;
}


/* .section-02 */
.section-02 {
    padding: 160px 0;
}

.section-02 .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section-02 .inner .section_title {
    position: sticky;
    top: 160px;
}

.section-02 .inner .section_title .heading2 {
    font-size: 2.4rem;
    margin: 16px 0;
}

.section-02 .inner .item_list {
    display: flex;
    column-gap: 32px;
}

.section-02 .inner .item_list .item_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
}

.section-02 .inner .item_list .margin-top {
    margin-top: 200px;
}

.section-02 .inner .item_list .item {
    width: 354px;
    height: 424px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.section-02 .inner .item_list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-02 .inner .item_list .item p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 32px;
    font-size: 3.1rem;
    font-weight: 700;
}

.section-02 .inner .item_list .item .arrow {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px 0 0 32px;
}



/* section-03 */
.section-03 {
    background-color: #fff;
    padding: 160px 0;
    max-width: none;
    height: 100%;
    overflow-x: hidden;
}

.section-03 .section_title {
    margin-bottom: 64px;
}

.section-03 .section_title .heading {
    color: #212529;
}

.section-03 .section_title a {
    color: #212529;
    border: 3px solid #212529;
    margin-top: 16px;
}

.section-03 .swiper {
    margin-top: 100px;
    overflow: visible;
}

.section-03 .swiper-wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.section-03 .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: auto;
}

.section-03 .swiper-button-next:after,
.section-03 .swiper-button-prev:after {
    display: none;
}

.section-03 .swiper-button-prev {
    background: url('../img/left-arrow.svg') 0 0 / 100% no-repeat;
    right: 66px;
}

.section-03 .swiper-button-next {
    background: url('../img/right-arrow.svg') 0 0 / 100% no-repeat;
    right: 0;
}

.section-03 .blogSwiper .swiper-button-next,
.section-03 .blogSwiper .swiper-button-prev {
    width: 50px;
    height: 50px;
    top: -100px;
    margin-top: 0;
}


.section-03 .blogSwiper .swiper-slide .image {
    border-radius: 16px;
    overflow: hidden;
}

.section-03 .blogSwiper .swiper-slide .image img {
    width: 100%;
    height: 100%;
    display: block;
}

.section-03 .blogSwiper .swiper-slide .text {
    padding: 24px 10px;
}

.section-03 .blogSwiper .swiper-slide .text .date {
    font-size: 2rem;
    color: #999;
    font-weight: 600;
    margin-bottom: 10px;
}

.section-03 .blogSwiper .swiper-slide .text .info {
    font-size: 2.4rem;
    font-weight: 600;
    color: #191919;
    margin-bottom: 24px;
}

.section-03 .blogSwiper .swiper-slide .text span {
    font-size: 2rem;
    font-weight: 700;
    color: #08f;
    margin-right: 12px;
}



/* section-04 */
.section-04 {
    height: 100%;
    background-color: #fff;
    max-width: none;
    margin: 0;
    padding-bottom: 160px;
}

.section-04 .padding {
    width: 100%;
    height: 100%;
    position: relative;
}

.section-04 .image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.section-04 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-04 .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    row-gap: 72px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-04 .text p {
    font-size: 4rem;
    font-weight: 700;
}

.section-04 .text .btn_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.section-04 .text .btn_wrap a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 40px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 100px;
}

.section-04 .text .btn_wrap .white_fill {
    color: #08f;
    background-color: #fff;
}

.section-04 .text .btn_wrap .white_line {
    border: 1px solid #fff;
}

/* footer */
.footer {
    background-color: #191919;
}

.footer .inner {
    max-width: 1600px;
    width: 100%;
    padding-block: 100px;
    padding-inline: 80px;
    margin: 0 auto;
}

.footer .top_info {
    display: flex;
    justify-content: space-between;
}

.footer .f_nav-depht01 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.footer .f_nav {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.footer .f_nav .rest_nav {
    display: flex;
    row-gap: 20px;
    column-gap: 40px;
}

.footer .f_nav .ai_list p {
    margin-bottom: 16px;
}

.footer .f_nav .ai_list ul {
    font-size: 1.4rem;
    font-weight: 300;
}

.footer .f_nav .ai_list ul li {
    padding-top: 8px;
}

.footer .btn_wrap .fill {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: 213px;
    height: 56px;
    border-radius: 8px;
    background-color: #fff3;
    margin-bottom: 16px;

    font-size: 1.6rem;
    font-weight: 700;
}

.footer .btn_wrap .line {
    width: 213px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;

    background-color: #ffffff0d;
    border: 1px solid #fff;
    border-radius: 4px;
}

.footer .btn_wrap .line span {
    font-size: 1.4rem;
}

.footer .btn_wrap .line .metanet {
    max-width: 57px;
}

.footer .legal_wrap {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 27px;

    font-size: 1.3rem;
}

.footer .legal_wrap img {
    width: 180px;
    display: block;
    filter: invert(1);
}

.footer .legal_wrap .copyright span {
    display: block;
}

.footer .legal_wrap .copyright {
    display: flex;
    gap: 27px;
}

@media screen and (max-width:1144px) {

    html,
    body {
        font-size: 50%;
    }

    .section_title .view_more {
        height: 48px;
        padding: 0 32px;
    }

    .main_visual {
        height: 600px;
    }

    .main_visual .text a {
        height: 40px;
        padding: 0 24px;
    }

    .section_title .heading {
        font-size: 4rem;
    }

    .section-01 {
        height: auto;
    }

    .section-01 .swiper-slide {
        height: auto;
    }

    .section-02 .inner {
        display: block;
    }

    .section-02 .inner .section_title {
        position: static;
        margin-bottom: 72px;
    }

    .section-02 .inner .item_list {
        justify-content: center;
    }

    .section-02 .inner .item_list .item_wrap {
        row-gap: 60px;
    }

    .section-02 .inner .item_list .item {
        width: 283px;
        height: 339px;
    }

    .section-03 .section_title a {
        border-width: 2px;
    }

    .section-03 .blogSwiper .swiper-button-next,
    .section-03 .blogSwiper .swiper-button-prev {
        width: 44px;
        height: 44px;
        top: -60px;
    }

    .section-03 .swiper-button-prev {
        left: 0;
    }

    .section-03 .swiper-button-next {
        left: 52px;
    }

    .section-04 .text {
        row-gap: 24px;
    }

    .section-04 .text p {
        font-size: 3rem;
    }

    .section-04 .text .btn_wrap a {
        height: 48px;
        line-height: 48px;
        padding: 0 32px;
    }

}

@media screen and (max-width:853px) {
    .header {
        height: 64px;
    }

    .header .inner {
        padding: 0 30px;
    }

    .header .inner .pc {
        display: none;
    }

    .header .mBtn_open {
        display: flex;
    }

    .section {
        padding: 80px 0;
    }

    .section .inner {
        padding: 0 30px;
    }

    .section_title .heading {
        font-size: 3rem;
    }

    .section_title .view_more {
        height: 40px;
        padding: 0 24px;
    }

    .main_visual {
        height: 400px;
    }

    .main_visual .text {
        padding: 0 24px;
    }

    .main_visual .text h3 {
        font-size: 5rem;
        margin-bottom: 20px;
    }

    .main_visual .text p {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .section-01 {
        height: auto;
        padding-bottom: 0;
    }

    .section-01 .section_title {
        margin-bottom: 40px;
    }

    .section-01 .swiper-wrapper {
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .section-01 .swiper-slide:last-child {
        display: none;
    }

    .section-01 .swiper-slide {
        width: auto !important;
        height: auto;
        padding: 20px;
        margin: 0 !important;
    }

    .section-01 .swiper-slide .item_title {
        margin-bottom: 40px;
    }

    .section-01 .swiper-slide .item_title .heading5 {
        font-size: 2.5rem;
    }

    .section-02 .inner .section_title .heading2 {
        font-size: 1.9rem;
    }

    .section-02 .inner .section_title {
        margin-bottom: 44px;
    }

    .section-02 .inner .section_title a {
        border-width: 2px;
    }

    .section-01 .swiper-slide span {
        font-size: 1.75rem;
    }

    .section-02 .inner .item_list {
        column-gap: 16px;
    }

    .section-02 .inner .item_list .item_wrap {
        row-gap: 40px;
    }

    .section-02 .inner .item_list .item {
        width: 226px;
        height: 271px;
    }

    .section-02 .inner .item_list .item p {
        padding: 32px 24px;
    }

    .section-02 .inner .item_list .item .arrow {
        width: 32px;
        margin: 32px 0 0 24px;
    }

    .section-03 {
        padding-bottom: 0;
    }

    .section-04 .inner {
        aspect-ratio: 16 / 9;
    }

    .section-04 .text p {
        font-size: 2.5rem;
    }

    .section-04 .text .btn_wrap a {
        height: 40px;
        line-height: 40px;
        padding: 0 24px;
    }
}

@media screen and (max-width:480px) {
    .section {
        padding: 60px 0;
    }

    .section .inner {
        padding: 0 20px;
    }

    .main_visual {
        height: 480px;
    }

    .main_visual .text h3 {
        font-size: 3.25rem;
        margin-bottom: 16px;
    }

    .main_visual .text p {
        margin-bottom: 24px;
    }

    .main_visual .text a {
        padding: 0 20px;
        font-size: 1.75rem;
    }

    .section-01 {
        padding-bottom: 0;
    }

    .section-01 .section_title {
        padding: 0;
    }

    .section-01 .swiper-wrapper {
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .section-02 .inner .item_list {
        flex-direction: column;
        row-gap: 24px;
        column-gap: 24px;
    }

    .section-02 .inner .item_list .margin-top {
        margin: 0;
    }

    .section-02 .inner .item_list .item_wrap {
        row-gap: 24px;
    }

    .section-02 .inner .item_list .item {
        width: 100%;
        height: auto;
    }

    .section-03 {
        padding-bottom: 0;
    }

    .section-04 .inner {
        aspect-ratio: 1;
    }

    .section-04 .text {
        padding: 0 20px;
    }

    .section-04 .text .btn_wrap {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    .section-04 .text .btn_wrap .white_line {
        border-width: 2px;
    }
}