@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.section_title .heading {
    color: #fff;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

html,
body {
    font-size: 62.5%;
}

body {
    background-color: #05012d;
}


/* header  */
.header {
    display: none;
}


/* main_visual */
.main_visual {
    width: 100vw;
    height: 1080px;
    position: relative;
}


.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .text {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 0 8rem;
    margin:  0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_visual .text h3 {
    font-size: 7rem;
    margin-bottom: 4rem;
}

.main_visual .text p {
    font-size: 2.8rem;
    margin-bottom: 8rem;
}

.main_visual .text a {
    height: 56px;
    padding: 0 32px;
    font-size: 3.2rem;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    border-radius: 100px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


/* section-01 */
.section-01 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-01 .inner {
}

.section-01 .section_title {
    padding: 0 8rem;
    max-width: 1600px;
    width: 100%;
}

.section-01 .item_wrap {
    display: flex;
}
.section-01 .item_wrap .item_title .num {
    color: #08f;
    font-size: 2.4rem;
}
.section-01 .item_wrap .item_title .heading5 {
    font-size: 4rem;
}

.section-01 .item_wrap .item {
    width: 704px;
    height: 420px;
    padding: 50px 60px;
    color: #fff;
    border: 1px solid #ffffff80;
    border-radius: 30px;
}
.section-01 .item_wrap span {
    display: inline-block;
    font-size: 2rem;
}


