@charset "utf-8";
@import url('../font/pretendard/stylesheet.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.section_title .heading {
    color: #fff;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Pretendard';
}

body {
    background-color: #05012d;
    color: #fff;
    overflow-x: hidden;
}

.section {
    padding: 0 80px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.inner .section_title .view_more {
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-self: center;
    padding: 0 40px;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 2rem;
    font-weight: 600;
}

/* header  */
.header {
    display: none;
}


/* main_visual */
.main_visual {
    width: 100vw;
    height: 1080px;
    position: relative;
}


.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .text {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;

    padding: 0 8rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_visual .text h3 {
    font-size: 7rem;
    margin-bottom: 4rem;
}

.main_visual .text p {
    font-size: 2.8rem;
    margin-bottom: 8rem;
}

.main_visual .text a {
    height: 56px;
    padding: 0 32px;
    font-size: 3.2rem;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    border-radius: 100px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


/* section-01 */
.section-01 {
    max-width: none;
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.section-01 .inner {
    width: 100%;
}

.section-01 .section_title {
    max-width: 1600px;
    width: 100%;
    padding: 0 8rem;
    margin: 0 auto 80px;
}

.section-01 .swiper {
    padding: 0 80px;
}

.section-01 .swiper-wrapper {
    padding: 0 80px;
}

.section-01 .swiper-slide {
    width: 704px;
    height: 420px;
    padding: 50px 60px;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px);
}

.section-01 .swiper-slide {
    border: 1px solid #ffffff80;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #ffffff1a, #fff0);
}

.section-01 .swiper-slide .item_title {
    margin-bottom: 60px;
}

.section-01 .swiper-slide .item_title .num {
    color: #08f;
    font-size: 2.4rem;
    margin-bottom: 8px;
}

.section-01 .swiper-slide .item_title .heading5 {
    font-size: 4rem;
}

.section-01 .swiper-slide span {
    display: inline-block;
    font-size: 2rem;
}

.section-01 .swiper-slide:last-child {
    opacity: 0;
}


/* .section-02 */
.section-02 {
    padding: 160px 80px;
}

.section-02 .inner {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

.section-02 .inner .section_title {
    position: sticky;
    top: 160px;
}

.section-02 .inner .section_title .heading2 {
    font-size: 2.4rem;
    margin: 16px 0;
}

.section-02 .inner .item_list {
    display: flex;
    column-gap: 32px;
}

.section-02 .inner .item_list .item_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
}

.section-02 .inner .item_list .margin-top {
    margin-top: 200px;
}

.section-02 .inner .item_list .item {
    width: 354px;
    height: 424px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.section-02 .inner .item_list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-02 .inner .item_list .item p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 32px;
    font-size: 3.1rem;
    font-weight: 700;
}

.section-02 .inner .item_list .item .arrow {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px 0 0 32px;
}



/* section-03 */
.section-03 {
    background-color: #fff;
    padding: 0;
    max-width: none;
    height: 100%;
}

.section-03 .inner {
    padding: 160px 0;
}

.section-03 .inner .section_title {
    padding: 0 80px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto 64px;
}

.section-03 .inner .section_title .heading {
    color: #212529;
}

.section-03 .inner .section_title a {
    color: #212529;
    border: 3px solid #212529;
    margin-top: 16px;
}
.section-03 .item_wrap {
    margin-top: 100px;
}
.section-03 .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: auto;
    right: 100px;
}
.section-03 .swiper-button-next:after,
.section-03 .swiper-button-prev:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
}
.section-03 .swiper-button-prev:after {
    background: url('../img/left-arrow.svg') 100% no-repeat;
}
.section-03 .swiper-button-next:after {
    background: url('../img/right-arrow.svg') 100% no-repeat;
}

.section-03 .swiper {
    overflow: visible;
}
.section-03 .blogSwiper .swiper-button-next, 
.section-03 .blogSwiper .swiper-button-prev {
    width: auto;
    height: auto;
    top: -100px;
    margin-top: 0;
}
.section-03 .swiper .swiper-wrapper {
    padding: 0 80px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.section-03 .blogSwiper .swiper-slide .image {
    border-radius: 16px;
    overflow: hidden;
}

.section-03 .blogSwiper .swiper-slide .image img {
    width: 100%;
    height: 100%;
    display: block;
}

.section-03 .blogSwiper .swiper-slide .text {
    padding: 24px 10px;
}

.section-03 .blogSwiper .swiper-slide .text .date {
    font-size: 2rem;
    color: #999;
    font-weight: 600;
    margin-bottom: 10px;
}

.section-03 .blogSwiper .swiper-slide .text .info {
    font-size: 2.4rem;
    font-weight: 600;
    color: #191919;
    margin-bottom: 24px;
}

.section-03 .blogSwiper .swiper-slide .text span {
    font-size: 2rem;
    font-weight: 700;
    color: #08f;
    margin-right: 12px;
}



/* section-04 */
.section-04 {
    height: 100%;
    padding: 160px 80px;
}

.section-04 .inner {
    position: relative;
}

.section-04 .image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.section-04 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-04 .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    row-gap: 72px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-04 .text p {
    font-size: 4rem;
    font-weight: 700;
}

.section-04 .text .btn_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.section-04 .text .btn_wrap a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 40px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 100px;
}

.section-04 .text .btn_wrap .white_fill {
    color: #08f;
    background-color: #fff;
}

.section-04 .text .btn_wrap .white_line {
    border: 1px solid #fff;
}

@media screen and (max-width:1144px) {

    html,
    body {
        font-size: 50%;
    }

    .main_visual {
        height: 600px;
    }

    .main_visual .text a {
        height: 40px;
        padding: 0 24px;
    }

    .section {
        padding: 0 30px;
    }

    .section_title .heading {
        font-size: 4rem;
    }

    .section-01 .section_title {
        margin-bottom: 40px;
    }

    .swiper-wrapper {
        flex-wrap: wrap;
        row-gap: 32px;
    }

    .section-01 .swiper-slide:last-child {
        display: none;
    }

    .section-01 .swiper-slide {
        width: auto;
        height: auto;
        padding: 26px;
    }

    .section-01 .swiper-slide .item_title {
        margin-bottom: 40px;
    }

    .section-01 .swiper-slide .item_title .heading5 {
        font-size: 3rem;
    }

    .section-02 .inner {
        display: block;
    }

    .section-02 .inner .section_title {
        position: static;
        margin-bottom: 72px;
    }

    .section-02 .inner .section_title a {
        height: 48px;
        padding: 0 32px;
        border: 3px solid #fff;
    }

    .section-02 .inner .item_list {
        justify-content: center;
    }

    .section-02 .inner .item_list .item {
        width: 283px;
        height: 339px;
    }

    .section-04 .text {
        row-gap: 24px;
    }

    .section-04 .text p {
        font-size: 3rem;
    }

    .section-04 .text .btn_wrap a {
        height: 48px;
        line-height: 48px;
        padding: 0 32px;
    }

}

@media screen and (max-width:989px) {}

@media screen and (max-width:853px) {
    .main_visual {
        height: 400px;
    }

    .main_visual .text h3 {
        font-size: 5rem;
        margin-bottom: 20px;
    }

    .main_visual .text p {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .section-01 .swiper-slide {}

    .section-04 {
        padding: 60px 30px;
    }

    .section-04 .inner {
        aspect-ratio: 16 / 9;
    }

    .section-04 .text .btn_wrap a {
        height: 40px;
        line-height: 40px;
        padding: 0 24px;
    }
}